<div class="max-w-screen-xl  items-center  mx-auto p-4">

    <div class="grid grid-cols-2 gap-2">
        <div 
        *ngFor="let image of productImage">
            <img class="h-80 max-w-full rounded-lg hover:shadow-2xl hover:shadow-grey-500 shadow-lg shadow-grey-500/50 cursor-pointer object-fill hover:object-scale-down " [src]="image" alt="">
        </div>
        
    </div>
    <br>

    <!--? Normal table -->
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 font-medium font-bold uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th 
                        scope="col" 
                        class="px-6 py-3 "
                        *ngFor="let column of headers">
                            {{column}}
                        </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{productName}}
                    </th>
                    <td class="px-6 py-4">
                        {{productDescription}}
                    </td>
                    <td class="px-6 py-4">
                        ${{productPrice}}
                    </td>
                    <td class="px-6 py-4">
                        <div class="flex items-center">
                            <svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                            </svg>
                            <p class="ml-2 text-gray-900 dark:text-white">{{productRating}}</p>
                        </div>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
    
   

   
</div>

